# Redpanda (Kafka)
REDPANDA_EXT_PORT=19092
REDPANDA_ADMIN_PORT=9644
REDPANDA_MEMORY=1G
REDPANDA_TOPIC=document-events

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432

# Qdrant Vector DB
QDRANT_REST_PORT=6333
QDRANT_GRPC_PORT=6334

# Ollama Local LLM
OLLAMA_PORT=11434