# Server Configuration
PROJECT_NAME="Aura Query Service"
API_V1_STR="/api/v1"
ENVIRONMENT="development"

# External Services
QDRANT_HOST="localhost"
QDRANT_PORT=
QDRANT_COLLECTION=

# Ollama
OLLAMA_BASE_URL="http://localhost:11434"
EMBEDDING_MODEL="nomic-embed-text"
GENERATION_MODEL="llama3.2:3b"

# OLTP
OTLP_ENDPOINT="http://localhost:4317"